@model IEnumerable<EvaluationProduit.MVC.Models.ProduitModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Ajouter">Ajouter un nouveau Produit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoyenneEvaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MoyenneEvaluation)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Modifier", new { id = item.Id }) |
                @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "Supprimer", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
